body: { padding: 10px; }

div.header,
div.content {
  width: 580px;
  margin-bottom: 5px;
}

#entiry {
  background-color:tomato;
  color: white;
  text-align: center;
  vertical-align: middle;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius : 10px;
  cursor: pointer;
  width : 100px;
  
}